@page "/admin"

<AuthorizeView Roles="Administrator">
    <Authorized>      
        <h3 style="font-weight:bolder; color:midnightblue">THÊM NGƯỜI DÙNG</h3>

        <!--TẠO FORM ĐĂNG KÝ USER-->
        <div class="create-form">

            <EditForm Context="form" Model="@newUser" OnValidSubmit="(()=>addUser())">

                <!--USER NAME (tên tài khoản)-->
                <div class="form-group row">
                    <label for="newUserName" class="col-sm-2 col-form-label">Tên tài khoản</label>
                    <div class="col-sm-10">
                        <input required @bind="newUser.userName" type="text" class="form-control" id="newUserName" placeholder="Username">
                    </div>
                </div>

                <!--PASSWORD (mật khẩu)-->
                <div class="form-group row">
                    <label for="newUserPass" class="col-sm-2 col-form-label">Mật khẩu</label>
                    <div class="col-sm-10">
                        <input required @bind="newUser.Password" type="password" autocomplete="new-password" class="form-control" id="newUserPass" placeholder="Password">
                    </div>
                </div>

                <!--CONFIRM PASSWORD (xác nhận mật khẩu)-->
                <div class="form-group row">
                    <label for="newUserConfirmPass" class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
                    <div class="col-sm-10">
                        <input required @bind="confirmPassword" type="password" autocomplete="new-password" class="form-control" id="newUserConfirmPass" placeholder="Xác nhận lại mật khẩu">
                    </div>
                </div>

                <!--ROLE (vai trò người đăng ký)-->
                <div class="form-group row">
                    <label for="roleOfUser" class="col-sm-2 col-form-label">Vai trò</label>
                    <div class="col-sm-10">
                        <!--chọn vai trò(chức vụ)-->
                        <select required @bind="@newUser.roleId" id="roleOfUser" class="form-control">
                            <option value="-1" selected>Chọn...</option>
                            @if (listRoleData != null)
                            {
                                @foreach (var role in listRoleData)
                                {
                                    <option value="@role.id">@role.name</option>
                                }
                            }

                        </select>
                    </div>
                </div>

                <!--ĐỊA CHỈ EMAIL-->
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.email" type="email" class="form-control" id="newProductPrice" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Tên</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.name" type="text" class="form-control" id="newProductPrice" placeholder="Tên">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Họ</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.lastName" type="text" class="form-control" id="newProductPrice" placeholder="Họ">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Số điện thoại</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.phoneNumber" type="tel" class="form-control" id="newProductPrice" placeholder="Số điện thoại">
                    </div>
                </div>

                <!--BUTTON (Nút thực thi)-->
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square"></i> &nbsp;&nbsp; Thêm người dùng</button>
                <button type="reset" class="btn btn-primary"><i class="fas fa-redo"></i> &nbsp;&nbsp; Reset</button>
            </EditForm>
        </div>

        <!--USER LIST (danh sách người dùng)-->
        <h3><b>Danh sách</b></h3>
        @if (listUserData == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-left">#</th>
                            <th>Tên</th>
                            <th>Họ</th>
                            <th>Username</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Vai trò</th>

                            <th class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1;}
                        @foreach (var User in listUserData)
                        {
                            <tr>
                                <td class="text-left">@i</td>
                                <td>@User.name</td>
                                <td>@User.lastName</td>
                                <td>@User.userName</td>
                                <td>@User.phoneNumber</td>
                                <td>@User.email</td>
                                <td>@User.roles[0].name</td>

                                <td class="text-center">
                                    <button type="button" class="btn" @onclick="(()=>passDataForDeleteModal(User.id,User.name))" style="cursor:pointer; color:red" data-toggle="modal" data-target="#ModalDelete"><i class="fas fa-trash-alt fa-lg"></i></button>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>

        }


        <!-- Modal delete user -->
        <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-trash-alt fa-lg"></i> &nbsp; Delete User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Thông báo-->
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa người dùng @userNameForDelete không?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button @onclick="(()=>deleteUser(userIdForDelete))" data-dismiss="modal" type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h4><b>Đăng nhập bằng tài khoản <a style="color:darkgoldenrod">Quản Trị Viên</a> để xem trang này</b></h4>
        <br/><br /><br /><br />
        <img class="img-fluid" style="align-content:center" src="http://www.epayment.com.ng/images/blog-wp-login-1200x400.png" />
    </NotAuthorized>
</AuthorizeView>